<!--nav bar-->
<div class="nav navbar">
    <div class="container">
        <ul class="nav nav-pills navbar-left">
            <li class="brand">VoteTote</li>
            <% if(logger){ %>
                <li><a class="logout point" href="/logout">Log Out</a></li>
            <% } else {%>
                <li class="point <%= home %>" rel="home"><a>Home</a></li>
            <% } %>            
        </ul>
        <ul class="nav nav-pills navbar-right">
            <% if(logger) { %>    
            
                <!--add cog icon for changing password-->
                
                <!--say "hi, (users first name)"-->
                <li class="username">Hi, <%= user.facebook.name ? user.facebook.name.split(' ')[0] : user.local.username.split(' ')[0] %></li>
                
            <% } else {%>
                <li class="green point <%= signup %>" rel="signup"><a>Sign Up</a></li>
                <li class="point <%= login %>" rel="login"><a>Login</a></li>
            <% } %>
        </ul>
    </div>
</div>