<div id="login" class="panel <%= login %>">
    <div class="container">
        <form action="/login" method="post">
            <% if(loginMessage.length > 0) { %>
                <div class="alert alert-danger"><%= loginMessage %></div>
            <% } %>
            Email<br><input type="text" name="email"><br>
            Password<br><input type="password" name="password"><br><br>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><input class="btn btn-success" type="submit" value="Login"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><a href='/auth/facebook' class="btn btn-primary"><i class="fa fa-facebook fa-fw"></i>Connect with Facebook</a></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><a href='/guest' class="btn btn-default"><i class="fa fa-user-secret fa-fw"></i>Login as Guest</a></div>
            </div>
        </form>
    </div>
</div>